:root {
  --primary: #00bfff;
  --secondary: #313140;
}

.btn {
  &.btn-primary {
    background-color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
    color: white !important;

    &:hover {
      opacity: 0.6;
    }
  }

  &.btn-secondary {
    background-color: var(--secondary) !important;
    border: 1px solid var(--secondary) !important;
    color: white !important;

    &:hover {
      opacity: 0.6;
    }
  }

  &.btn-outline-primary {
    border-color: var(--primary) !important;
    color: var(--primary) !important;

    &:hover {
      background-color: var(--primary) !important;
      border: 1px solid var(--primary) !important;
      color: white !important;
    }
  }

  &.btn-outline-secondary {
    border-color: var(--secondary) !important;
    color: var(--secondary) !important;

    &:hover {
      background-color: var(--secondary) !important;
      border: 1px solid var(--secondary) !important;
      color: white !important;
    }
  }
}


body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  .header-container {
    font-weight: bold;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    position: sticky;
    top: 0;
    z-index: 999;

    .navbar {
      z-index: 10;
      background-color: white !important;
      padding: 20px;

      .nav-link {
        color: var(--secondary);

        &.active {
          color: var(--primary);
        }
      }
    }
  }
}